.flickr-gallery-container {
  position: relative;
  width: 100%;
}

.flickr-gallery-pager {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.flickr-gallery-pager li {
  display: inline-block;
  padding: 5px;
}

.flickr-gallery-page-number-current {
  font-weight: bold;
}

.flickr-gallery-page-number-disabled {
  color: #999;
}

.flickr-gallery-page-prev {
  float: left;
}
.flickr-gallery-page-next {
  float: right;
}

.flickr-gallery {
  font-size: 0;
}

.flickr-gallery-img {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.flickr-gallery-img.flickr-gallery-img-loaded {
  opacity: 1;
}

.flickr-gallery-img-link {
  width: 100px;
  height: 100px;

  background-color: rgba(0, 0, 0, 1);
  background-image: url('../img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.flickr-img-container .flickr-gallery-img-link {
  font-size: 0;
  width: 100%;
  height: auto;
  min-height: 250px;
}

.flickr-gallery-img-link {
  margin: 0 5px 5px 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.flickr-gallery-img-link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.15s ease;
}

.flickr-gallery-img-link:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/zoom.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.flickr-gallery-img-link .flickr-gallery-img {
  transform: scale3d(1, 1, 1);
  transition: transform 0.15s ease 0s;
}

.flickr-gallery-img-link:hover .flickr-gallery-img {
  transform: scale3d(1.1, 1.1, 1.1);
}
