*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.island {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Calibri, Helvetica, sans-serif;
}

h1,
h2 {
  display: block;
  color: #444;
}

h2 {
  color: #555;
}

a {
  color: #666;
}
